  <!-- Sidebar -->
  <ul class="navbar-nav bg-dark bg-gradient sidebar sidebar-dark accordion" id="accordionSidebar">
    
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-text mx-3">Mapres UG</div>
    </a>
    
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
      </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider">
      
      <!-- Heading -->
      <div class="sidebar-heading">
        Master
      </div>
      
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/student">
          <i class="fas fa-fw fa-graduation-cap"></i>
          <span>Mahasiswa</span></a>
        </li>
        
        <!-- Nav Item - Tables -->
        <li class="nav-item">
          <a class="nav-link" href="/admin/achievement">
            <i class="fas fa-fw fa-medal"></i>
            <span>Prestasi</span></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/admin/faculty">
              <i class="fas fa-fw fa-university"></i>
              <span>Fakultas</span></a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/admin/major">
                <i class="fas fa-fw fa-school"></i>
                <span>Jurusan</span></a>
              </li>
              
              <!-- Divider -->
              <hr class="sidebar-divider d-none d-md-block">
              
              <!-- Heading -->
              <div class="sidebar-heading">
                Add On
              </div>
              
              <li class="nav-item">
                <a class="nav-link" href="/admin/distinguish">
                  <i class="fas fa-fw fa-brain"></i>
                  <span>Mapres</span></a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="/admin/team">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Team</span></a>
                  </li>
                  
                    <!-- Divider -->
                    <hr class="sidebar-divider d-none d-md-block">
                    
                    <!-- Heading -->
                    <div class="sidebar-heading">
                      Redaksi
                    </div>
                    
                    <!-- Nav Item - Charts -->
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/news">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span>Berita</span></a>
                      </li>
                      
                      <!-- Sidebar Toggler (Sidebar) -->
                      <div class="text-center d-none d-md-inline">
                        <button class="rounded-circle border-0" id="sidebarToggle"></button>
                      </div>
                      
                    </ul>
                    <!-- End of Sidebar -->