  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-text mx-3">Mapres UG</div>
  </a>
  
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  
  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/admin/dashboard">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Dashboard</span></a>
    </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider">
    
    <!-- Heading -->
    <div class="sidebar-heading">
    Master
    </div>
    
    <!-- Nav Item - Charts -->
    <li class="nav-item">
    <a class="nav-link" href="/admin/students">
      <i class="fas fa-fw fa-graduation-cap"></i>
      <span>Students</span></a>
    </li>
    
    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="/admin/achievements">
      <i class="fas fa-fw fa-medal"></i>
      <span>Achievements</span></a>
      </li>
      
      <li class="nav-item">
      <a class="nav-link" href="/admin/fachieve">
        <i class="fas fa-fw fa-bullhorn"></i>
        <span>Info Achievements</span></a>
      </li>
      
      <li class="nav-item">
      <a class="nav-link" href="/admin/faculty">
        <i class="fas fa-fw fa-university"></i>
        <span>Faculty</span></a>
      </li>
      
      <li class="nav-item">
      <a class="nav-link" href="/admin/major">
        <i class="fas fa-fw fa-school"></i>
        <span>Major</span></a>
      </li>
      
      <li class="nav-item">
      <a class="nav-link" href="/admin/mapres">
        <i class="fas fa-fw fa-book-reader"></i>
        <span>Mapres</span></a>
      </li>
      
      
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
      
      <!-- Heading -->
      <div class="sidebar-heading">
        Redaction
      </div>
      
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/news">
        <i class="fas fa-fw fa-newspaper"></i>
        <span>News</span></a>
        </li>
        
        <!-- Nav Item - Tables -->
        <li class="nav-item">
        <a class="nav-link" href="/admin/scoop">
          <i class="fas fa-fw fa-rss-square"></i>
          <span>Scoop</span></a>
        </li>
          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>
          
        </ul>
        <!-- End of Sidebar -->