    <div class="tab-pane fade" id="add-faculty" role="tabpanel" aria-labelledby="profile-tab">
        <div class="card shadow mb-4 mb-2">
            <div class="card-body">
                <form action="/admin/faculty" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Nama Fakultas</label>
                        <input type="text" class="form-control" name="faculty" placeholder="Enter Nama Fakultas" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Panggilan Fakultas</label>
                        <input type="text" class="form-control" name="stands" placeholder="Enter Panggilan Fakultas" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Image Faculty</label>
                        <input type="file" class="form-control" name="image" multiple required>
                    </div>
                    <div class="form-group">
                        <label for="name">Tentang Fakultas</label>
                        <textarea class="form-control" name="about" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>