<div class="tab-pane fade show active" id="edit-faculty" role="tabpanel" aria-labelledby="profile-tab">
    <div class="card shadow mb-4 mb-2">
        <div class="card-body">
            <form action="/admin/faculty/<%= faculty.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nama Fakultas</label>
                        <input type="text" class="form-control" id="name" value="<%= faculty.name %>" name="name" placeholder="Enter Nama Fakultas" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Nama Singkatan</label>
                        <input type="text" class="form-control" id="name" value="<%= faculty.stand %>" name="stand" placeholder="Enter Nama Singkatan" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Tentang Fakultas</label>
                        <textarea class="form-control" name="about" required><%= faculty.about %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="name">Upload Image Fakultas</label>
                        <input type="file" class="form-control" name="image" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">
                        <a style="text-decoration: none; color: white;" href="/admin/faculty">Back</a>
                    </button>
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>