<div class="tab-pane fade" id="add-research" role="tabpanel" aria-labelledby="profile-tab">
    <div class="card shadow mb-4 mb-2">
        <div class="card-body">
            <form action="/admin/research" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nama Mahasiswa</label>
                        <select class="form-control" name="studentId">
                            <option value="" disabled selected>Nama Mahasiswa</option>
                            <% for(i = 0; i < student.length; i++) { %>
                                <option value="<%= student[i].id %>"><%= student[i].name %> - <%= student[i].majorId.name %></option>
                                <% } %>
                            </select>                      
                        </div>
                        <div class="form-group">
                            <label for="name">Topik Penelitian</label>
                            <select id="topic" class="form-control" name="topic">
                                <option value="" disabled selected>Topik Penelitian</option>
                                <option value="Teknologi">Teknologi</option>
                                <option value="Industri">Industri</option>
                                <option value="Sipil & Arsitek">Sipil & Arsitek</option>
                                <option value="Medis">Medis</option>
                                <option value="Sosial">Sosial</option>
                                <option value="Ekonomi">Ekonomi</option>
                                <option value="Sastra">Sastra</option>
                                <option value="Keilmuan">Keilmuan</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">Judul Penelitian</label>
                            <input type="text" class="form-control" id="name" name="title" placeholder="Enter Judul Penelitian" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Tentang Penelitian</label>
                            <textarea class="form-control" name="about" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="name">Tahun Publikasi</label>
                            <input type="month" class="form-control" name="releaseDate" placeholder="Enter Tanggal Publikasi" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Upload Jurnal</label>
                            <input type="file" class="form-control" name="document" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>