<div class="tab-pane fade" id="add-achievements" role="tabpanel" aria-labelledby="profile-tab">
    <div class="card shadow mb-4 mb-2">
        <div class="card-body">
            <form action="/admin/achievements" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Nama Mahasiswa</label>
                    <select class="form-control" name="studentId">
                        <option value="" disabled selected>Nama Mahasiswa</option>
                        <% for(i = 0; i < student.length; i++) { %>
                            <option value="<%= student[i].id %>"><%= student[i].name %></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Nama Event</label>
                    <input type="text" class="form-control" name="event" placeholder="Enter Nama Event" required>
                </div>
                <div class="form-group">
                    <label for="name">Kepesertaan</label>
                    <select id="kepesertaan" class="form-control" name="kepesertaan">
                            <option value="" disabled selected>Kepesertaan</option>
                            <option value="Tim">Tim</option>
                            <option value="Individu">Individu</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Kategori</label>
                    <select id="category" class="form-control" name="category">
                            <option value="" disabled selected>Kategori/Skala</option>
                            <option value="Nasional">Nasional</option>
                            <option value="Internasional">Internasional</option>
                            <option value="Wilayah">Wilayah</option>
                            <option value="Provinsi">Provinsi</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Peringkat</label>
                    <select id="peringkat" class="form-control" name="peringkat">
                            <option value="" disabled selected>Peringkat</option>
                            <option value="Juara 1">Juara 1</option>
                            <option value="Juara 2">Juara 2</option>
                            <option value="Juara 3">Juara 3</option>
                            <option value="Harapan 1">Harapan 1</option>
                            <option value="Harapan 2">Harapan 2</option>
                            <option value="Harapan 3">Harapan 3</option>
                            <option value="Favorit">Favorit</option>
                            <option value="Finalist">Finalist</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Karya</label>
                    <input type="text" class="form-control" name="creation" placeholder="Enter Judul Karya" required>
                </div>
                <div class="form-group">
                    <label for="name">Jumlah Negara</label>
                    <input type="number" min="1" class="form-control" name="countryQty" placeholder="Enter Jumlah Negara" required>
                </div>
                <div class="form-group">
                    <label for="name">Jumlah Universitas</label>
                    <input type="number" min="1" class="form-control" name="uniQty" placeholder="Enter Jumlah Universitas" required>
                </div>
                <div class="form-group">
                    <label for="name">Tanggal Awal</label>
                    <input type="month" class="form-control" name="startDate" placeholder="Enter Tanggal Awal" required>
                </div>
                <div class="form-group">
                    <label for="name">Tanggal Akhir</label>
                    <input type="month" class="form-control" name="endDate" placeholder="Enter Tanggal Akhir" required>
                </div>
                <div class="form-group">
                    <label for="name">Dokumen</label>
                    <input type="file" class="form-control" name="document" required>
                </div>
                <div class="form-group">
                    <label for="name">Link Berita</label>
                    <input type="text" class="form-control" name="newsURL">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>

<script>
    function sendData(e) {
        const searchResults = document.getElementById('searchResults');
        let match = e.value.match(/^[a-zA-Z ]*/);
        let match2 = e.value.match(/\s*/);
        if(match2[0] === e.value) {
            searchResults.innerHTML = '';
            return;
        }
        if(match[0] === e.value) {
            fetch('getStudents', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({payload: e.value})
            }).then(res => res.json()).then(data => {
                let payload = data.payload;
                searchResults.innerHTML = '';
                if(payload.length < 1) {
                    searchResults.innerHTML = '<p style="margin: 10px 0;">Mahasiswa Tidak Terdaftar</p>';
                    return;
                }
                payload.forEach((student, index) => {
                    if(index > 0) searchResults.innerHTML += '<hr>';
                    searchResults.innerHTML += `<p id="studsName">${student.name}</p>`
                });
            });
            return;
        }
        searchResults.innerHTML = '';
    }
</script>