<div class="tab-pane fade show active" id="show-achievements" role="tabpanel" aria-labelledby="home-tab">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Table Jurusan</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nama</th>
              <th>NPM</th>
              <th>Fakultas</th>
              <th>Jurusan</th>
              <th>Kepersertaan</th>
              <th>Event</th>
              <th>Peringkat</th>
              <th>Kategori</th>
              <th>Karya</th>
              <th>Jumlah Negara</th>
              <th>Jumlah Universitas</th>
              <th>Tanggal Awal</th>
              <th>Tanggal Akhir</th>
              <th>Document</th>
              <th>Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
