<div class="tab-pane fade show active" id="show-detail" role="tabpanel" aria-labelledby="home-tab">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Table Jurusan</h6>
      </div>
      <div class="card-body" style="justify-content: center; display: flex;">
          <img src="http://localhost:3000/<%= news.image %>" alt="image" style="width: 30%;">
        </div>
        <p style="text-align: center; display: block;"><%= news.about %></p>
        <a href="/admin/news" class="btn btn-danger">Back</a>
    </div>
  </div>
  